node_modules
npm-debug.log
error.log
combined.log
.vscode
.idea
.DS_Store
docs/.vuepress/dist
lib/config/app.json
lib/config/config.js
yarn-error.log
tmp
*.swp
*.iml
coverage
.env
app-minimal/
dump.rdb
Session.vim

.now
.vercel

assets/build/
package-lock.json
