.navbar .home-link .site-name {
    color: #F5712C;
}

.page .custom-block.tip {
    border-color: #F5712C;
}

.theme-container .page .content__default .logo-img {
    margin-top: 3.6rem;
}

.page .content__default .logo-text {
    padding-top: 2.6rem;
    padding-bottom: 2rem;
}

.icon.outbound.outbound {
    display: none;
}

a {
  word-break: break-all;
}

#jie-shao {
    display: none;
}

#introduction {
    display: none;
}

#app .global-ui .sw-update-popup {
    border: 1px solid #F5712C;
}

h3 {
    color: $accentColor;
}

.sidebar-sub-headers a.sidebar-link {
    color: #F5712C;
}

// for Route and RouteEn components
li.params p {
  display: inline;
  }

.routeBlock {
  margin: 1rem 0 2rem;
}

.routeBlock .example > * {
    vertical-align: middle;
}

.routeBlock .example img {
    margin-left: 5px;
}

#app .page .badge.tip {
  background-color: #FFB74D;
}

#app .page .badge.warn {
  background-color: #ff774d;
}

.sw-update-popup {
    z-index: 11;
}

.wads-sticky {
    margin: auto;
}
