.navbar .home-link .site-name {
    color: #F5712C;
}

.page .custom-block.tip {
    border-color: #F5712C;
}

.theme-container .page .content .logo-img {
    margin-top: 3.6rem;
}

.page .content .logo-text {
    padding-top: 2.6rem;
    padding-bottom: 2rem;
}

.icon.outbound {
    display: none;
}

a {
  word-break: break-all;
}

#关于 {
    display: none;
}

#app .global-ui .sw-update-popup {
    border: 1px solid #F5712C;
}

.routes .sidebar-group-items > li > .sidebar-sub-headers > .sidebar-sub-header > a {
    color: $accentColor;
}
