$accentColor = #F5712C

.navbar .site-name {
    color: $accentColor;
}

.page .custom-block.tip {
    border-color: $accentColor;
}

a.sidebar-link {
    font-weight: bold;
}

.sidebar-sub-header a.sidebar-link {
    font-weight: 400;
}

.page .content .logo {
    padding-top: 2.6rem;
    padding-bottom: 2rem;
}