.navbar .site-name {
    color: #F5712C;
}

.page .custom-block.tip {
    border-color: #F5712C;
}

a.sidebar-link {
    font-weight: bold;
}

.sidebar-sub-header a.sidebar-link {
    font-weight: 400;
}

.page .content .logo {
    padding-top: 2.6rem;
    padding-bottom: 2rem;
}

.icon.outbound {
    display: none;
}

a {
  word-break: break-all;
}

.rsshub {
    width: 100px;
    height: 100px;
    border-radius: 30%;
    position: relative;
    overflow: hidden;
    margin: 0 auto 20px;
}
.circle {
    border-radius: 50%;
    position: absolute;
    left: 2.6%;
    bottom: 2.6%;
    width: 43px;
    height: 43px;
}
.circle1 {
    background: #FFD6A6;
    animation: a1 3s linear infinite;
    z-index: 0;
}
.circle2 {
    background: #FF8549;
    animation: a2 3s linear infinite;
    z-index: 1;
}
.circle3 {
    background: #FF2800;
    z-index: 2;
}

@keyframes a1 {
    0% {
        transform: scale(1);
    }
    20% {
        transform: scale(2.5);
    }
    40% {
        transform: scale(5);
    }
    75% {
        opacity: 1;
    }
    95% {
        opacity: 0;
    }
    100% {
        transform: scale(5);
        opacity: 0;
    }
    // 60% {
    //     transform: scale(5);
    // }
    // 70% {
    //     transform: scale(2.5);
    // }
    // 80% {
    //     transform: scale(1);
    // }
    // 100% {
    //     transform: scale(1);
    // }
}
@keyframes a2 {
    0% {
        transform: scale(1);
    }
    20% {
        transform: scale(2.5);
    }
    40% {
        transform: scale(2.5);
    }
    75% {
        opacity: 1;
    }
    95% {
        opacity: 0;
    }
    100% {
        transform: scale(2.5);
        opacity: 0;
    }
    // 60% {
    //     transform: scale(2.5);
    // }
    // 70% {
    //     transform: scale(2.5);
    // }
    // 80% {
    //     transform: scale(1);
    // }
    // 100% {
    //     transform: scale(1);
    // }
}
