.navbar .site-name {
    color: #F5712C;
}

.page .custom-block.tip {
    border-color: #F5712C;
}

a.sidebar-link {
    font-weight: bold;
}

.sidebar-sub-header a.sidebar-link {
    font-weight: 400;
}

.page .content .logo {
    padding-top: 2.6rem;
    padding-bottom: 2rem;
}

.icon.outbound {
    display: none;
}

a {
  word-break: break-all;
}

#指南 {
    display: none;
}
