/* avoids layout shift before Carbon gets a chance to initialize */
.roomForCarbon > :first-child > :first-child {
  height: calc(100% - 235px) !important;
  flex-grow: initial;
}

.carbonWrapper {
  flex-shrink: 0;
}

:global(#carbonads *) {
  margin: initial;
  padding: initial;
  line-height: initial;
}

:global(#carbonads) {
  --carbon-font-family: -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell,
    'Helvetica Neue', Helvetica, Arial, sans-serif;
  --carbon-font-size: 14px;
  --carbon-padding: 1.5ch;
  --carbon-max-char: 20ch;
  --carbon-bg-primary: hsl(0, 0%, 98%);
  --carbon-bg-secondary: hsl(0, 0%, 92%);
  --carbon-text-color: hsl(0, 0%, 20%);
  z-index: 10;
  font-size: var(--carbon-font-size);
  font-family: var(--carbon-font-family);
}

:global(#carbonads > span) {
  display: flex;
  flex-direction: column;
  min-inline-size: 130px;
  max-inline-size: calc(
    130px + var(--carbon-max-char) + 8ch
  );
  padding: var(--carbon-padding);
  gap: var(--carbon-padding);
}

:global(#carbonads a) {
  color: var(--carbon-text-color);
  text-decoration: none;
}

:global(#carbonads a:hover) {
  color: var(--carbon-text-color);
}

:global(#carbonads .carbon-wrap) {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5ex;
}

:global(#carbonads .carbon-img) {
  flex: 0 0 130px;
}

:global(#carbonads .carbon-img img) {
  display: block;
}

:global(#carbonads .carbon-text) {
  flex-grow: 1;
  flex-basis: var(--carbon-max-char);
  line-height: 1.4;
  text-align: left;
}

:global(#carbonads .carbon-poweredby) {
  color: var(--carbon-text-color);
  font-weight: 600;
  font-size: 0.6em;
  line-height: 1.4;
  letter-spacing: 0.2ch;
  text-transform: uppercase;
}

@media (prefers-color-scheme: dark) {
  :global(#carbonads) {
    --carbon-bg-primary: hsl(0, 0%, 12%);
    --carbon-bg-secondary: hsl(0, 0%, 15%);
    --carbon-text-color: hsl(0, 0%, 90%);
  }
}


/* :global(.carbon-ads) {
  min-height: 102px;
  padding: 1.5rem 1.5rem 0;
  margin-bottom: -0.5rem;
  font-size: 0.75rem;
}
:global(.carbon-ads a) {
  color: #444;
  font-weight: normal;
  display: inline;
}
:global(.carbon-ads .carbon-img) {
  float: left;
  margin-right: 1rem;
}
:global(.carbon-ads .carbon-img img) {
  display: block;
}
:global(.carbon-ads .carbon-poweredby) {
  color: #999;
  display: block;
  margin-top: 0.5em;
} */

/* @media (max-width: $MQMobile) {
  .carbon-ads .carbon-img img {
    width: 100px;
    height: 77px;
  }
} */
