name: build assets

on:
  push:
    branches:
      - master
    paths:
      - 'lib/**'

jobs:
  build:
    runs-on: ubuntu-latest
    name: Build assets
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Use Node.js v14
        uses: actions/setup-node@v3.1.1
        with:
          node-version: '14'
          cache: 'yarn'
      - name: Build file
        run: yarn && npm run build:all
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./assets
          user_name: 'github-actions[bot]'
          user_email: '41898282+github-actions[bot]@users.noreply.github.com'
