# This is a basic workflow to help you get started with Actions

name: deploy-staging

# Controls when the workflow will run
on:
    # Triggers the workflow on push or pull request events but only for the "master" branch
    push:
        branches: ['deploy-staging']
# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
    deploy:
        name: Deploy
        runs-on: ubuntu-latest
        steps:
            - name: Deploy
              uses: appleboy/ssh-action@master
              with:
                  host: ${{ secrets.HOST }}
                  username: ${{ secrets.USER }}
                  password: ${{ secrets.PWD }}
                  port: ${{ secrets.PORT }}
                  script: |
                      pwd
                      cd /www/RSSHub
                      git pull
                      rm -rf node_modules
                      nvm use 16
                      node -v
                      yarn install --production --registry=https://registry.npmmirror.com
                      pm2 restart rsshub
                      ls
                      pm2 ls
