name: '[docker] CI for build tests'

on:
    pull_request:
        branches: master
        paths:
            - 'lib/**'
            - 'Dockerfile'
            - 'package.json'
    push:
        branches: '*'
        paths:
            - '.github/workflows/**'
            - 'lib/**'
            - 'Dockerfile'
            - 'package.json'

jobs:
    test:
        runs-on: ubuntu-latest
        steps:
        -
            name: Checkout
            uses: actions/checkout@v2
        - name: Set up QEMU
            uses: docker/setup-qemu-action@v1
        - name: Set up Docker Buildx
            uses: docker/setup-buildx-action@v1
        -
            name: Build dockerfile (without push)
            run: |
                docker buildx build \
                --platform=linux/amd64,linux/arm/v7,linux/arm64 \
                --output "type=image,push=false" \
                --file ./Dockerfile .
