name: npm Publish

on:
  push:
    branches:
      - master
    paths:
      - '.github/workflows/npm-publish.yml'
      - 'lib/**'

permissions:
  id-token: write

jobs:
  build:
    name: npm publish
    if: github.repository == 'DIYgod/RSSHub'
    runs-on: ubuntu-latest
    timeout-minutes: 5
    env:
      HUSKY: 0
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: lts/*
          cache: 'pnpm'
          registry-url: 'https://registry.npmjs.org'
      - name: Install dependencies (pnpm)
        run: pnpm i
      - name: Run postinstall script for dependencies
        run: pnpm rb
      - name: Release
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          npx version-from-git --allow-same-version --template 'master.short'
      - name: Publish to npmjs
        run: pnpm publish --provenance --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
