name: Linter

on: [push, pull_request_target]

jobs:
  linter:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v3.0.0
        with:
          node-version: '14'
          cache: 'yarn'
      - run: yarn
      - name: Lint
        uses: reviewdog/action-eslint@v1
        with:
           github_token: ${{ secrets.GITHUB_TOKEN }}
